<section class="container">
	<div class="navbar" style="position: relative;">
		<div class="navbar-inner">

			<ul class="nav" style="margin-right:0;">
				<li {% if page['section']=="capture" %}class="active"{% endif %}><a href="/capture">Capture</a></li>
				<li {% if page['section']=="draws" %}class="active"{% endif %}><a href="/draws">Draws</a></li>
				<li {% if page['section']=="members" %}class="active"{% endif %}><a href="/members">Members</a></li>



				<li class="divider-vertical" style="margin-left:60px;"></li>
				<li style="width:285px; position: relative;" id="navbar-info" >


				</li>
				<li class="divider-vertical" style="margin-right:0;"></li>
			</ul>
			<ul class="nav pull-right">
			
				<li class="dropdown" style="width:160px;">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						{{ _user['location']['label'] }}
						<b class="caret pull-right"></b>
					</a>
					<ul class="dropdown-menu" >
						{% for row in _user['locations'] %}
						<li {% if _user['location']['ID']== row['ID']%}class="active"{% endif %}><a href="?L={{ row['ID'] }}">{{ row['label'] }}</a></li>
						{% endfor %}
					</ul>

				</li>
				<li  class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-bar-chart"></i></a>
					<ul class="dropdown-menu pull-right" >
						<li><a href="">Location Report</a></li>
						<li><a href="">Member Report</a></li>
						<li><a href="">Draws</a></li>
					</ul>
				</li>
				<li  class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-gears"></i></a>
					<ul class="dropdown-menu pull-right settings" >
						<li><a href="">Users</a></li>
					</ul>
				</li>
				<li class="divider-vertical"></li>
				<li><a href="/logout"><i class="icon-off"></i></a></li>
			</ul>
		</div>
		<div class="s g r" style="padding-right:20px;">
			{{ _user['fullname'] }}
		</div>
		
	</div>
</section>
